/* Mon selecteur universel  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tout mes contenus  */

.container {
    display: flex;
}

/* Root consiste de stocker mes couleurs  */

:root {
    --bg-cadre : #1B304D;
    --bare: #3491B3;
    --point: #D7D7D7;
}

/* Les contenus de mon image  */

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* mon image  */

.img img{
    width: 180px;
    border-radius: 50%;
    height: 180px;
}

/* Le petit bare qui au dessous de mes informations  */

.bare {
    width: 50px;
    height: 4px;
    background-color: var(--bare);
}

/* Mon Gauche de ma page */

.left {
    width: 300px;
    background-color: var(--bg-cadre);
    height: auto;
    transition: all .8s ease-in;
}

.right {
    border: 2px solid var(--bg-cadre);
    padding: 0 20px 0 0;
}

/* Information  */

.information {
    margin: 30px 0 10px 30px;
}

/* Information de mon titre h2  */

.information h2 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 5px;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

/* Information de mon paragraphe */

.information p {
    margin: 20px 0;
    color: #fff;
    line-height: 20px;
    font-size: 15px;
    opacity: 0.9;
    letter-spacing: 1px;
}


/* Cote droit de mon page  */

main {
    margin: 40px 0 0 30px;
}

.title h1 {
    text-transform: uppercase;
    padding-bottom: 5px;    
}

.title h3 {
    text-transform: uppercase;
    color: var(--bare);
    font-size: 17px;
}

.para-main {
    margin: 15px 0;
    line-height: 20px;
}

.information-right {
    margin: 15px 0;
}

.information-right h2 {
    text-transform: uppercase;
    font-size: 17px;
    padding-bottom: 5px;
}

.contenu-experience h5 {
    font-size: 15px;
    padding: 5px 0;
}

.contenu-experience h4 {
    font-size: 15px;
    color: var(--bare);
    padding-bottom: 10px;
}

.contenu-experience .para-list {
    font-size: 15px;
    font-weight: 700;
}

.contenu-experience .list {
    margin: 6px 0 15px 0;
    margin-left: 16px;
}

.contenu-experience .list li {
    font-size: 15px;
    line-height: 20px;
}

.contenu-experience .para-list2 {
    font-size: 15px;
    font-weight: 510;
}

.rond {
    width: 10px;
    height: 10px;
    background-color: #3491B3;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}

.footer {
    display: flex;
}

.rond-color {
    background-color: #9d9494;
}

.container-point {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.container-point {
    display: flex;
    align-items: center;
}


.nom-logiciel p {
    font-size: 14px;
    font-weight: 550;
    padding: 1px 0;
}

.cercle {
    margin-left: 20px;
}

.col {
    margin-left: 20px;
}








@media screen and (max-width: 888px) {
    .left {
        width: 26%;
        background-color: var(--bg-cadre);
        height: auto;
        transition: all .8s ease-in;
    }

    .img img {
        width: 140px;
        border-radius: 50%;
        height: 140px;
    }

    .information h2 {
        color: #fff;
        font-size: 15px;
        padding-bottom: 5px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .information {
        margin: 30px 0 10px 15px;
    }

    .bare {
        width: 30px;
        height: 3px;
        background-color: var(--bare);
    }

    .information p {
        margin: 15px 0;
        color: #fff;
        line-height: 20px;
        font-size: 10px;
        opacity: 0.6;
        letter-spacing: 1px;
    }

    .right {
        border: 2px solid var(--bg-cadre);
        padding: 0 20px 0 20px;
        width: 450px;
    }

    .title h1 {
        text-transform: uppercase;
        padding-bottom: 5px;
        font-size: 25px;
    }

    .title h3 {
        text-transform: uppercase;
        color: var(--bare);
        font-size: 14px;
    }

    .para-main {
        margin: 13px 0;
        line-height: 20px;
        font-size: 12px;
    }

    /* Cote droit de mon page  */

    main {
        margin: 40px 0 0 10px;
    }

    .information-right h2 {
        text-transform: uppercase;
        font-size: 14px;
        padding-bottom: 5px;
    }

    .contenu-experience h5 {
        font-size: 13px;
        padding: 5px 0;
    }

    .contenu-experience h4 {
        font-size: 13px;
        color: var(--bare);
        padding-bottom: 10px;
    }

    .contenu-experience .para-list {
        font-size: 13px;
        font-weight: 700;
    }

    .contenu-experience .list li {
        font-size: 13px;
        line-height: 20px;
    }

    .container_ront {
        display: flex;
        align-items: center;
        margin: 10px 0 0;
    }

    
.container-point {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
}
}

@media screen and (max-width: 690px) {
    body {
        justify-content: left;
    }
}

@media screen and (max-width: 600px) {
    .cercle {
        margin-left: 10px;
    }
}

@media screen and (max-width: 500px) {
    .left {
        width: 27%;
        background-color: var(--bg-cadre);
        height: auto;
        transition: all .8s ease-in;
    }

    .img img {
        width: 120px;
        border-radius: 50%;
        height: 120px;
    }
    
    .information p {
        margin: 15px 0;
        color: #fff;
        line-height: 20px;
        font-size: 9px;
        opacity: 0.6;
        letter-spacing: 1px;
        width: 150px;
    }

    .information {
        margin: 30px 0 10px 6px;
    }
    
    .right {
        border: 2px solid var(--bg-cadre);
        padding: 0 20px 0 10px;
        width: 420px;
    }
    
    .cercle {
        margin-left: 0px;
    }

    
    .rond {
        width: 8px;
        height: 8px;
        background-color: #3491B3;
        display: inline-block;
        border-radius: 50%;
        margin-left: 5px;
    }

    .nom-logiciel p {
        font-size: 13px;
        font-weight: 550;
        padding: 1px 0;
    }

    
    .footer {
        display: block;
    }

}